---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import Button from '../components/Button.astro';
import Hero from '../components/Hero.astro';
import PostPreview from '../components/PostPreview.astro';
import ProjectPreview from '../components/ProjectPreview.astro';
import siteConfig from '../data/site-config';
import { sortItemsByDateDesc } from '../utils/data-utils';

const posts = (await getCollection('blog')).sort(sortItemsByDateDesc);
const featuredPosts = posts.filter(({ data }) => data.isFeatured);

const projects = (await getCollection('projects')).sort(sortItemsByDateDesc);
const featuredProjects = projects.filter(({ data }) => data.isFeatured);
---

<BaseLayout description={siteConfig.description} image={siteConfig.image}>
    <Hero />
    
    <!-- Mostrar los proyectos destacados -->
    {
        featuredProjects?.length > 0 && (
            <div class="mb-16 sm:mb-24">
                <h2 class="mb-12 text-xl font-serif italic sm:mb-16 sm:text-2xl">Projects</h2>
                {featuredProjects.map((project) => (
                    <ProjectPreview project={project} class="mb-10 sm:mb-12" headingLevel="h3" />
                ))}
                <div class="mt-12 sm:mt-16">
                    <Button href="/projects">View All Projects</Button>
                </div>
            </div>
        )
    }
    
    <!-- Mostrar las publicaciones destacadas -->
    {
        featuredPosts?.length > 0 && (
            <div class="mb-16 sm:mb-24">
                <h2 class="mb-12 text-xl font-serif italic sm:mb-16 sm:text-2xl">Writing</h2>
                {featuredPosts.map((post) => (
                    <PostPreview post={post} class="mb-10 sm:mb-12" headingLevel="h3" />
                ))}
                <div class="mt-12 sm:mt-16">
                    <Button href="/blog">View All Posts</Button>
                </div>
            </div>
        )
    }

    <!-- Mostrar el contenido de las semanas -->
    <section id="semanas" class="mb-24">
        <h2 class="text-2xl sm:text-3xl font-serif italic mb-12">Reportes Semanales</h2>

        {siteConfig.weeks.map((week, index) => (
            <div class="week-content mb-16" key={index}>
                <h3 class="text-xl sm:text-2xl font-bold">{week.title}</h3>
                <p class="mt-4">{week.summary}</p>
                
                <h4 class="mt-6 text-lg">Conceptos Clave</h4>
                <ul class="list-disc pl-6">
                    {week.keyConcepts.map((concept, index) => (
                        <li key={index}>{concept}</li>
                    ))}
                </ul>

                <h4 class="mt-6 text-lg">Laboratorio</h4>
                <p>{week.lab}</p>
            </div>
        ))}
    </section>

</BaseLayout>
